:root {
	/** Brand **/
	--lnx-color-primary: #ec9c5d;
	--lnx-color-primary-light: #f6be9b;
	--lnx-color-primary-dark: #e17c2c;
	--lnx-color-primary-accent: #191919;

	/** Neutral **/
	--lnx-color-gray-0: #ffffff;
	--lnx-color-gray-1: #f2f2f2;
	--lnx-color-gray-2: #e6e6e6;
	--lnx-color-gray-3: #cccccc;
	--lnx-color-gray-4: #b3b3b3;
	--lnx-color-gray-5: #999999;
	--lnx-color-gray-6: #808080;
	--lnx-color-gray-7: #666666;
	--lnx-color-gray-8: #4d4d4d;
	--lnx-color-gray-9: #333333;
	--lnx-color-gray-10: #191919;
}