@use 'reset';
@use 'tokens/elevations';
@use 'tokens/radii';
@use 'tokens/spacings';
@use 'tokens/typography';
@use '../bobcat';
@use '../iberian';

:root {
	html {
		font-size: 100%; /* Default to 16px; easy to scale with rem units */
		line-height: var(--lnx-line-height-body);
	}

	font-family: var(--lnx-font-family-body), sans-serif;
	font-size: var(--lnx-font-size-body);
	font-weight: var(--lnx-font-weight-regular);
	color: var(--lnx-text-color);

	h1, h2, h3, h4, h5, h6 {
		font-family: var(--lnx-font-family-heading), serif;
		font-weight: var(--lnx-font-weight-black);
	}

	h1 {
		font-size: var(--lnx-font-size-title);
		line-height: var(--lnx-line-height-title);
	}

	h2 {
		font-size: var(--lnx-font-size-bigger);
		line-height: var(--lnx-line-height-bigger);
	}

	h3, h4, h5, h6 {
		font-size: var(--lnx-font-size-big);
		line-height: var(--lnx-line-height-big);
	}

	small {
		font-size: var(--lnx-font-size-legal);
		font-weight: var(--lnx-font-weight-thin);
	}

	iconify-icon {
		display: inline-block;
		width: 1em;
		height: 1em;
	}
}