:root {
	--lnx-elevation-1: 0px 1px 2px 0px #00000033, 0px 1px 2px 0px #0000003D;
	--lnx-elevation-2: 0px 1px 2px 0px #00000033, 0px 0px 1px 0px #0000003D;
	--lnx-elevation-3: 0px 8px 16px 0px #00000033, 0px 0px 1px 0px #0000003D;
	--lnx-elevation-4: 0px 12px 24px 0px #00000033, 0px 0px 1px 0px #0000003D;
}
