:root {
	--lnx-spacing-0: 0;
	--lnx-spacing-1: 4px;
	--lnx-spacing-2: 8px;
	--lnx-spacing-3: 12px;
	--lnx-spacing-4: 16px;
	--lnx-spacing-5: 24px;
	--lnx-spacing-6: 32px;
	--lnx-spacing-7: 48px;
	--lnx-spacing-8: 64px;
	--lnx-spacing-9: 96px;
	--lnx-spacing-10: 128px;
}